



.navbar-nav .nav-link {
    font-size: 1.2rem;
    padding: 1rem 2rem;

  }
  
.dropdown-menu {
    font-size: 1.2rem;
}
section.container {
  padding-top: 77px;

}
footer {
  padding: 30px 0;
  margin-top: 0x;
}

/* Style the headings */
h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Style footer p*/
footer p{
    font-size: 14px;
    color: black;
    margin-bottom: 10px;

}

/* Style the footer links */
footer a {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

/* Add some hover effect to the links */
footer a:hover {
  color: white;
  text-decoration: none;
  
}

h4.title{
  text-align: center;
  color:black;
  background-color: red;
  margin-block-start: 0em;
  margin-block-end: 0em;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border:0em;
  width: auto;
  box-sizing: initial;
  font-family: 'Press Start 2P';
}

img.container {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}